
img/bin/__pycache__/

img/bin/CONFIG.yaml

img/bin/bd/log.csv

img/bin/ismtp.json

img/.debris/

*.glade~

img/bin/equipo/__pycache__/

img/bin/equipo/cam/__pycache__/

img/bin/zeus/__pycache__/

img/bin/terceros/__pycache__/

img/bin/terceros/scp/__pycache__/

img/bin/terceros/tinydb/__pycache__/

img/bin/std/__pycache__/

img/bin/olimpo/__pycache__/

img/bin/helios/__pycache__/

img/bin/helios/fotometria/__pycache__/

img/bin/helioisis/__pycache__/

img/bin/helioisis/GUI/__pycache__/

img/bin/helioisis/GUI/exp/__pycache__/
