[Desktop Entry]
Name=Foto Estación
Comment=Estación fotográfica
Icon=/home/pi/zeus/img/bin/logo.png
Path=/home/pi/zeus/img/bin
Exec=python3 /home/pi/zeus/img/bin/zeus.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Photography;
